@charset "UTF-8";
/* CSS Document */

p {
  color: black;
  font-family: Verdana;
  font-size: 16px;
}

h1{
  color: rgba(36, 0, 227, 0.8);
  font-size: 30px;
}

h2{
  color:rgba(255, 0, 77, 1);
  font-family: Bedrock;
  font-size: 25px;
  text-align: justify;
}

a {
  color: blue;
  font-family: sans-serif;
  font-size: 15;
}

.pozadina {
  background-color: white;
  background-image: url("slike/pozadina3.jpg");
}

h1 {
  color : pink;
    font-family: MarinaSemren_font;
  font-size: 30px;
}
