@charset "UTF-8";
/* CSS Document */

p {
  color: black;
  font-family: Verdana;
  font-size: 16px;
}

h1{
  color:rgba(255, 0, 77, 1);
  font-family: Bedrock;
  font-size: 25px;
  text-align: justify;
}

img {
  height: 250px;
}

.pozadina {
  background-color: white;
  background-image: url("slike/pozadina3.jpg");
}
